## Data Wrangling

## Tiny Data

A foundation for wrangling in pandas

![](images/pandas_tiny_data.png)

### Syntax

**Create DataFrames**

**Specify values for each column**

In [12]:
import pandas as pd

df = pd.DataFrame({
    "a": [4, 5, 6],
    "b": [7, 8, 9],
    "c": [10, 11, 12]
}, index=[1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

**Specify values for each row**

In [13]:
df = pd.DataFrame(
    [[4, 5, 6],
    [7, 8, 9],
    [10, 11, 12]],
    index=[1, 2, 3],
    columns=["a", "b", "c"])
df

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

**Create DataFrame with a MultiIndex**

In [16]:
df = pd.DataFrame({
  "a": [4, 5, 6],
  "b": [7, 8, 9],
  "c": [10, 11, 12]
})
index = pd.MultiIndex.from_tuples(
  [('d', 1), ('d', 2), ('e', 2)],
  names=['n','v'])
df

   a  b   c
0  4  7  10
1  5  8  11
2  6  9  12